@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme("colors.background");
    color: theme("colors.foreground");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair);
    letter-spacing: 0.05em;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}